venv/
config.py
.ipynb_checkpoints/
__pycache__/
dataset_unificado/
melhor_modelo.keras
camada_real_1.png
camada_real_2.png
camada_real_3.png
camada_real_4.png
camada_real_5.png
progressao_camadas.png
